* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  box-sizing: border-box;
}

body {
  background: url("../img/bg.png") no-repeat center/cover;
}

button,
button:active {
  cursor: pointer;
  outline: none;
}

/* первая секция */
.taskia {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.taskia > a {
  font-size: 47px;
  font-weight: 700;
  color: #525ffb;
  text-decoration: none;
  margin: 48px 0 0 20px;
}

.taskia button {
  border: 2px solid #525ffb;
  border-radius: 29px;
  height: 58px;
  width: 147px;
  margin-top: 56px;
  background: transparent;
  letter-spacing: 1px;
  color: #525ffb;
  transition: color 0.3s linear, backgroung 0.3s linear;
}

.taskia button:hover {
  color: #fff;
  background: #525ffb;
}

.task-managment {
  display: flex;
  justify-content: space-between;
  margin-top: 63px;
}

.managment {
  margin: 174px 44px 0 0;
  max-width: 700px;
}

.managment h1 {
  font-size: 70px;
  max-width: 700px;
  font-weight: 900;
  color: #1e1c24;
  line-height: 85px;
  letter-spacing: -2px;
}

.managment p {
  margin: 30px 0 60px 0;
  max-width: 616px;
  font-size: 20px;
  font-weight: 600;
  color: #b1aaaa;
  line-height: 35px;
  width: 80%;
}

.email-field {
  display: flex;
  justify-content: space-between;
  height: 55px;
  margin-right: 20px;
}

.email-field input {
  border-radius: 38px;
  font-size: 18px;
  outline: none;
  border: 3px solid #ebebeb;
  width: 60%;
  color: #1e1c24;
  padding-left: 20px;
  margin-right: 40px;
}

.email-field button {
  width: 180px;
  border-radius: 38px;
}

/* Вторая секция */
.services {
  display: flex;
  flex-direction: column;
  padding-top: 283px;
}

.services h2 {
  font-size: 50px;
  font-weight: 600;
  margin: 0 auto 80px;
}

.cards {
  max-width: 1468px;
  display: flex;
  justify-content: space-between;
  padding: 0 140px;
  margin: auto;
}

.card {
  color: #1e1c24;
  width: 30%;
  min-width: 290px;
  height: 476px;
  background-color: #e9f0ff;
  border-radius: 15px;
  text-align: center;
  margin-top: 80px;
}

.card:first-child {
  background-color: #525ffb;
  color: #fff;
  margin: 0 20px 0 0;
}

.card:last-child {
  margin-top: 40px;
  background-color: #ffe7aa;
  margin-left: 20px;
}

.card img {
  margin-top: 50px;
}

.card:last-child img {
  left: 20px;
}

.card h3 {
  width: 200px;
  font-weight: 300;
  font-size: 30px;
  margin: 40px auto 34px auto;
  line-height: 40px;
}

.card p {
  font-weight: 300;
  font-size: 16px;
  margin: 0 20px 20px;
  line-height: 30px;
}

/* Третья секция */
.need-question {
  display: flex;
  justify-content: start;
  padding-top: 335px;
}

.question-text {
  max-width: 552px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 68px;
}

.question-text h2 {
  font-size: 50px;
  font-weight: 600;
  line-height: 60px;
  max-width: 500px;
}

.question-text p {
  font-size: 18px;
  font-weight: 600;
  color: #b1aaaa;
  line-height: 30px;
}

.question-text button {
  width: 180px;
  height: 55px;
  border-radius: 38px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  font-family: "Mulish", sans-serif;
}

/* Четвертая секция */
.taskmanager {
  display: flex;
  justify-content: flex-end;
  padding: 427px 0 280px 0;
}

.taskmanager-text {
  width: 552px;
  margin-right: 103px;
  display: flex;
  flex-direction: column;
}

.taskmanager-text h2 {
  margin: 40px 0 20px 0;
  font-size: 50px;
}

.taskmanager-text p {
  font-size: 18px;
  color: #b1aaaa;
  font-weight: 600;
  line-height: 30px;
}

.link-app {
  width: 170px;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.link-app img {
  max-width: 40px;
}

.link-app:last-child img {
  max-width: 100px;
}

/* пятая секция */
.trust-us {
  background: url('../img/portrets-bg.png') no-repeat center 250px;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 850px;
}

.trust-us h2 {
  font-size: 50px;
  margin: auto;
  margin-bottom: 130px;
}

.trust-us > div {
  font-size: 150px;
  color: #525ffb;
  margin: auto;
}

.image {
  position: absolute;
  left: 80px;
  top: 0;
  margin: auto;
}

/* шестая секция */
.end {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 300px auto 200px;
  padding: 150px 0 200px;
  max-width: 600px;
}

.end h2 {
  font-size: 50px;
  margin: auto;
}

.end > div {
  font-size: 27px;
  font-weight: 300;
  margin: 20px auto 80px;
  text-align: center;
  max-width: 780px;
}

/* helpers */
.wrap {
  margin: 0 130px 0 180px;
}

.wrap-second {
  margin-right: 100px;
}

.button-help-text {
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  font-family: "Mulish", sans-serif;
}

.button-help {
  background: #525ffb;
  border: none;
  color: #fff;
  transition: background-color 0.3s linear;
}

.button-help:hover {
  background-color: #3944c0;
}
