* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  box-sizing: border-box;
}

body {
  background: url("img/bg.png") center no-repeat;
  background-size: cover;
}

button,
button:active {
  cursor: pointer;
  outline: none;
}

/* первая секция */
.taskia {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.taskia > a {
  font-size: 47px;
  font-weight: 700;
  color: #525ffb;
  text-decoration: none;
  margin: 48px 0 0 20px;
}

.taskia button {
  border: 2px solid #525ffb;
  border-radius: 29px;
  height: 58px;
  width: 147px;
  margin-top: 56px;
  background-color: transparent;
  letter-spacing: 1px;
  color: #525ffb;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  font-family: "Mulish", sans-serif;
}

.taskia button:hover {
  color: #3944c0;
  border-color: #3944c0;
  transition: 0.3s linear;
}

.task-managment {
  display: flex;
  justify-content: space-between;
  margin-top: 63px;
}

.managment {
  margin: 174px 44px 0 0;
  max-width: 700px;
}

.managment h1 {
  font-size: 70px;
  max-width: 700px;
  font-weight: 900;
  color: #1e1c24;
  line-height: 85px;
  letter-spacing: -2px;
}

.managment p {
  margin: 30px 0 60px 0;
  max-width: 616px;
  font-size: 20px;
  font-weight: 600;
  color: #b1aaaa;
  line-height: 35px;
  width: 80%;
}

.email-field {
  display: flex;
  justify-content: space-between;
  height: 55px;
  margin-right: 20px;
}

.email-field input {
  border-radius: 38px;
  font-size: 18px;
  outline: none;
  border: 3px solid #ebebeb;
  width: 60%;
  color: #1e1c24;
  opacity: 0.36;
  padding-left: 20px;
  margin-right: 40px;
}

.email-field button {
  width: 180px;
  border-radius: 38px;
}

.people {
  max-width: 697px;
  max-height: 626px;
}

/* Вторая секция */
.services {
  display: flex;
  flex-direction: column;
  margin-top: 180px;
}

.services h2 {
  font-size: 50px;
  font-weight: 600;
  margin: 0 auto 80px;
}

.cards {
  max-width: 1468px;
  display: flex;
  justify-content: space-between;
  padding: 0 140px;
}

.card {
  color: #1e1c24;
  width: 30%;
  min-width: 290px;
  height: 476px;
  background-color: #e9f0ff;
  border-radius: 15px;
  text-align: center;
  margin-top: 80px;
}

.card:first-child {
  background-color: #525ffb;
  color: #fff;
  margin: 0 20px 0 0;
}

.card:last-child {
  margin-top: 40px;
  background-color: #ffe7aa;
  margin-left: 20px;
}

.card img {
  margin-top: 50px;
}

.card:last-child img {
  left: 20px;
}

.card h3 {
  width: 200px;
  font-weight: 300;
  font-size: 30px;
  margin: 40px auto 34px auto;
}

.card p {
  font-weight: 300;
  font-size: 16px;
  margin: 0 20px 20px;
}

/* Третья секция */
.need-question {
  display: flex;
  margin-top: 335px;
}

.need-question img {
  max-width: 600px;
  max-height: 375px;
}

.question-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 120px 0 50px;
}

.question-text h2 {
  font-size: 40px;
  font-weight: 600;
  max-width: 400px;
}

.question-text p {
  font-size: 18px;
  font-weight: 600;
  color: #b1aaaa;
}

.question-text button {
  width: 180px;
  height: 55px;
  border-radius: 38px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  font-family: "Mulish", sans-serif;
}

/* Четвертая секция */
.taskmanager {
  display: flex;
  justify-content: flex-end;
  margin: 200px 0 280px 0;
}

.taskmanager-text {
  width: 500px;
  margin-right: 80px;
  display: flex;
  flex-direction: column;
}

.taskmanager-text h2 {
  margin: 40px 0 20px 0;
  font-size: 50px;
}

.taskmanager-text p {
  font-size: 18px;
  color: #b1aaaa;
  font-weight: 600;
}

.link-app {
  width: 170px;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.link-app img {
  max-width: 40px;
}

.link-app:last-child img {
  max-width: 100px;
}

.taskmanager > img {
  max-width: 650px;
}

/* пятая секция */
.trust-us {
  display: flex;
  flex-direction: column;
  position: relative;
}

.trust-us h2 {
  font-size: 50px;
  margin: auto;
  margin-bottom: 130px;
}

.trust-us span {
  font-size: 150px;
  color: #525ffb;
  margin: auto;
}

.grid-image {
  position: absolute;
  left: 0;
  top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 10fr 1fr 1fr;
  grid-template-rows: 1fr 0.9fr 1fr 0.9fr 1fr;
}

.img1 {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  max-width: 90px;
}

.img2 {
  grid-column: 1 / span 1;
  grid-row: 5 / span 1;
  max-width: 50px;
}

.img3 {
  grid-column: 5 / span 1;
  grid-row: 5 / span 1;
  max-width: 90px;
}

.img4 {
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
  max-width: 60px;
}

.img5 {
  grid-column: 5 / span 1;
  grid-row: 1 / span 1;
  max-width: 80px;
}

.img6 {
  grid-column: 4 / span 1;
  grid-row: 3 / span 1;
  max-width: 40px;
}

/* шестая секция */
.end {
  display: flex;
  flex-direction: column;
  margin: 300px auto 200px;
  max-width: 600px;
}

.end h2 {
  font-size: 50px;
  margin: auto;
}

.end span {
  font-size: 27px;
  font-weight: 300;
  margin: 20px auto 80px;
  text-align: center;
  max-width: 780px;
}

/* helpers */
.wrap {
  margin: 0 30px 0 130px;
}

.wrap-second {
  margin-right: 100px;
}

.button-help {
  background-color: #525ffb;
  border: none;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  font-family: "Mulish", sans-serif;
}

.button-help:hover {
  background-color: #3944c0;
  transition: 0.3s linear;
}
